page-home {
    .circle{
        background-color: #000000;
        padding: 6px;
        color: white;
        font-size: small;
        border-radius: 50%;
    
    }

    .card-header-md {
         padding: 0px; 
    }

    .button-effect {
        display: none!important;
    }
}
