page-details {
    .circle{
        background-color: #000000;
        padding: 6px;
        color: white;
        font-size: small;
        border-radius: 50%;
    
    }

    .pItem{
        
        margin-top: 20%;
        text-align: center;
    }

    .list-md {
         margin:0;
    }
}
